<!DOCTYPE html>
<html lang="en">
	<!-- --------------------------------------------- -->
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Booking cleaning" />
		<meta name="keywords" content="Booking cleaning" />
		<link rel="icon" type="image/png" href="assets/image/Favicon-img.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/style.css" />
		<title>Clean Booking</title>
	</head>
	<!-- --------------------------------------------- -->
	<body>
		<!-- *---------------------------------------* -->
		<section class="booking">
			<section class="booking__select-box">
				<div class="select-box">
					<div class="select">
						<span class="selected">Tow</span>
						<div class="caret"></div>
					</div>
					<ul class="menu">
						<li>One</li>
						<li class="active">Tow</li>
						<li>Three</li>
					</ul>
				</div>
				<div class="select-box">
					<div class="select">
						<span class="selected">Bathroom</span>
						<div class="caret"></div>
					</div>
					<ul class="menu">
						<li>One</li>
						<li class="active">Tow</li>
						<li>Three</li>
					</ul>
				</div>
				<div class="select-box">
					<div class="select">
						<span class="selected">Standard</span>
						<div class="caret"></div>
					</div>
					<ul class="menu">
						<li>Standard</li>
						<li class="active">Deep clean</li>
						<li>Move-in/out</li>
					</ul>
				</div>
				<button class="btn blue-fill-btn">Booking from $80</button>
			</section>
		</section>
		<!-- *---------------------------------------* -->
	</body>
	<!-- --------------------------------------------- -->
</html>
