<!DOCTYPE html>
<html lang="en">
	<!-- --------------------------------------------- -->
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Booking cleaning" />
		<meta name="keywords" content="Booking cleaning" />
		<link rel="icon" type="image/png" href="../assets/image/Favicon-img.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/style.css" />
		<title>Clean Button</title>
	</head>
	<!-- --------------------------------------------- -->
	<body>
		<!-- *---------------------------------------* -->
		<button class="btn blue-strok-btn">Button</button>
		<!-- *---------------------------------------* -->
        <button class="btn blue-fill-btn">Button</button>
		<!-- *---------------------------------------* -->
	</body>
	<!-- --------------------------------------------- -->
</html>
