<!DOCTYPE html>
<html lang="en">
	<!-- --------------------------------------------- -->
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Booking cleaning" />
		<meta name="keywords" content="Booking cleaning" />
		<link rel="icon" type="image/png" href="assets/image/Favicon-img.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/style.css" />
		<title>Clean Features</title>
	</head>
	<!-- --------------------------------------------- -->
	<body>
		<!-- *---------------------------------------* -->
		<section class="features">
			<div class="features__item-scroll">
				<!-- ----------------------------- -->
				<div class="features__item">
					<img src="../assets/image/COMBINED-SHAPE-1.svg" alt="" />
					<img src="../assets/image/FEATURES-IMG-4.svg" alt="" />
					<img src="../assets/image/FEATURES-IMG-1.svg" alt="" />
					<img src="../assets/image/COMBINED-SHAPE-2.svg" alt="" />
					<span>Book</span>
					<p>Tell us when and where you want your cleaning.</p>
				</div>
				<!-- ----------------------------- -->
				<div class="features__item">
					<img src="../assets/image/COMBINED-SHAPE-1.svg" alt="" />
					<img src="../assets/image/FEATURES-IMG-4.svg" alt="" />
					<img src="../assets/image/FEATURES-IMG-2.svg" alt="" />
					<img src="../assets/image/COMBINED-SHAPE-2.svg" alt="" />
					<span>Clean</span>
					<p>A Professional cleaner comes over and cleans your place.</p>
				</div>
				<!-- ----------------------------- -->
				<div class="features__item">
					<img src="../assets/image/COMBINED-SHAPE-1.svg" alt="" />
					<img src="../assets/image/FEATURES-IMG-4.svg" alt="" />
					<img src="assets/image/FEATURES-IMG-3.svg" alt="" />
					<span>Freedom</span>
					<p>Enjoy your life and come back to a clean space!.</p>
				</div>
				<!-- ----------------------------- -->
			</div>
		</section>
		<!-- *---------------------------------------* -->
	</body>
	<!-- --------------------------------------------- -->
</html>
