<!DOCTYPE html>
<html lang="en">
	<!-- --------------------------------------------- -->
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Booking cleaning" />
		<meta name="keywords" content="Booking cleaning" />
		<link rel="icon" type="image/png" href="assets/image/Favicon-img.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/style.css" />
		<title>Clean Footer</title>
	</head>
	<!-- --------------------------------------------- -->
	<body>
		<!-- *---------------------------------------* -->
		<footer class="footer">
			<!-- --------------------------------- -->
			<section class="footer__link">
				<div class="footer__link__item">
					<ul>
						Company
						<a href=""><li>Blog</li> </a>
						<a href=""><li>Press</li> </a>
						<a href=""><li>Career</li> </a>
						<a href=""><li>About Us</li></a>
					</ul>
				</div>
				<div class="footer__link__item">
					<ul>
						Services
						<a href=""><li>Residential</li></a>
						<a href=""><li>Office Cleaning</li></a>
						<a href=""><li>Commercial Cleaning</li></a>
					</ul>
				</div>
				<div class="footer__link__item">
					<ul>
						Support
						<a href=""><li>FAQ’s</li></a>
						<a href=""><li>Contact Us</li></a>
					</ul>
				</div>
			</section>
			<!-- --------------------------------- -->
			<section class="footer__logo">
				<img src="../assets/image/LOGO-LIGHT.svg" alt="" />
			</section>
			<!-- --------------------------------- -->
			<section class="footer__social">
				<a href="https://www.facebook.com/"><img src="../assets/image/FACEBOOK.svg" alt="" /></a>
				<a href="https://twitter.com"><img src="../assets/image/TWITTER.svg" alt="" /></a>
				<a href="https://www.instagram.com/sr.rasol"><img src="../assets/image/INSTAGRAM.svg" alt="" /></a>
				<a href="https://pl.linkedin.com/"><img src="../assets/image/LINKED IN.svg" alt="" /></a>
			</section>
			<!-- --------------------------------- -->
			<section class="footer__caption">
				<img src="../assets/image/LOGO-LIGHT.svg" alt="" />
				<a href="mailto:rasoolsarfaraz2@gmail.com">© Clean Co. All rights reserved  .  Terms of Service  .  Privacy Policy</a>
			</section>
			<!-- --------------------------------- -->
		</footer>
		<!-- *---------------------------------------* -->
	</body>
	<!-- --------------------------------------------- -->
</html>
