<!DOCTYPE html>
<html lang="en">
	<!-- --------------------------------------------- -->
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Booking cleaning" />
		<meta name="keywords" content="Booking cleaning" />
		<link rel="icon" type="image/png" href="../assets/image/Favicon-img.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/style.css" />
		<title>Clean Hero</title>
	</head>
	<!-- --------------------------------------------- -->
	<body>
		<!-- *---------------------------------------* -->
		<section class="hero">
			<!-- --------------------------------- -->
			<article class="hero__title">
				<h1>Your One Stop Cleaning Centre</h1>
			</article>
			<!-- --------------------------------- -->
			<article class="hero__btn">
				<button class="btn blue-fill-btn">Booking from $80</button>
				<section class="hero__btn-booking">
					<div class="select-box">
						<div class="select">
							<span class="selected">Tow</span>
							<div class="caret"></div>
						</div>
						<ul class="menu">
							<li>One</li>
							<li class="active">Tow</li>
							<li>Three</li>
						</ul>
					</div>
					<div class="select-box">
						<div class="select">
							<span class="selected">Bathroom</span>
							<div class="caret"></div>
						</div>
						<ul class="menu">
							<li>One</li>
							<li class="active">Tow</li>
							<li>Three</li>
						</ul>
					</div>
					<div class="select-box">
						<div class="select">
							<span class="selected">Standard</span>
							<div class="caret"></div>
						</div>
						<ul class="menu">
							<li>Standard</li>
							<li class="active">Deep clean</li>
							<li>Move-in/out</li>
						</ul>
					</div>
					<button class="btn blue-fill-btn">Booking from $80</button>
				</section>
			</article>
			<!-- --------------------------------- -->
			<article class="hero__img">
				<img src="../assets/image/HERO-IMG-1-MOBILE.svg" alt="" />
				<img src="../assets/image/HERO-IMG-2-MOBILE.svg" alt="" />
				<img src="../assets/image/HERO-IMG-3-MOBILE.svg" alt="" />
				
				<img src="../assets/image/HERO-IMG-1-DESKTOP.svg" alt="" />
				<img src="../assets/image/COMBINED-SHAPE-1.svg" alt="" />
				<img src="../assets/image/HERO-IMG-2-DESKTOP.svg" alt="" />
				<img src="../assets/image/COMBINED-SHAPE-1.svg" alt="" />
				<img src="../assets/image/HERO-IMG-3-DESKTOP.svg" alt="" />
			</article>
			<!-- --------------------------------- -->
		</section>
		<!-- *---------------------------------------* -->
	</body>
	<!-- --------------------------------------------- -->
</html>
