<!DOCTYPE html>
<html lang="en">
	<!-- --------------------------------------------- -->
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Booking cleaning" />
		<meta name="keywords" content="Booking cleaning" />
		<link rel="icon" type="image/png" href="../assets/image/FAVICON-IMG.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/style.css" />
		<title>Clean Report</title>
	</head>
	<!-- --------------------------------------------- -->
	<body>
		<!-- *---------------------------------------* -->
		<article class="report">
			<!-- ------------------------------------- -->
			<div class="report__item-box">
				<!-- --------------------------------- -->
				<div class="report__item">
					<img src="../assets/image/REPORT-IMG-1.png" alt="" />
					<h5>How to Efficiently Clean & Organize Living Areas:</h5>
					<p>
						November is here, and with it comes a fresh opportunity to tackle the clutter and dust that may have
						acc...
					</p>
					<img src="../assets/image/REPORT-IMG-PROF-1.png" alt="" />
					<span>Laura Pelitia</span>
					<span>December 18, 2023</span>
				</div>
				<!-- --------------------------------- -->
				<div class="report__item">
					<img src="../assets/image/REPORT-IMG-2.png" alt="" />
					<h5>How to Create a Self-Cleaning Home.</h5>
					<p>
						Creating a home that practically cleans itself may sound like a dream, but with a little know-how and
						some...
					</p>
					<img src="../assets/image/REPORT-IMG-PROF-2.png" alt="" />
					<span>Sebrina Ludowski</span>
					<span>December 24, 2023</span>
				</div>
				<!-- --------------------------------- -->
				<div class="report__item">
					<img src="../assets/image/REPORT-IMG-3.png" alt="" />
					<h5>10 Easy Ways to Turn Homekeeping, Happy!</h5>
					<p>
						Homekeeping can sometimes feel like a never-ending to-do list that zaps the joy right out of your day.
						But wh...
					</p>
					<img src="../assets/image/REPORT-IMG-PROF-3.png" alt="" />
					<span>Katrina Gomez</span>
					<span>January 2, 2024</span>
				</div>
				<!-- --------------------------------- -->
			</div>
			<!-- ------------------------------------- -->
		</article>
		<!-- *---------------------------------------* -->
	</body>
	<!-- --------------------------------------------- -->
</html>
